*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.breed-select {
  width: 50%;
}
img {
  width: 40%;
}
.cat-card {
  display: flex;
  margin-top: 60px;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  display: block;
  margin-bottom: 40px;
  text-decoration: underline;
  text-align: center;
  font-size: 35px;
  line-height: 0;
}
p {
  display: block;
  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 30px;

  line-height: 1.5;
}

.temperament {
  font-weight: 500;
}

.loading-circle {
  margin-right: 30px;

  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  display: flex;
  margin-top: 30px;
  align-items: center;
  font-size: 20px;
}
.hidden {
  display: none;
}
